body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

.header h1 {
  color: white;
  font-size: 30px;
}

.header p {
  font-size: 15px;
}

.blue {
  color: Blue;
}

.front-page-container {
  height: 100%;
  overflow: hidden;
}

.form-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 650px;
  height: 100%;
}

.form-container form {
  width: 100%;
  margin: auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #111b60;
  font-size: 40px;
}

p {
  font-size: 18px;
  color: #72778f;
}

.form-item {
  width: 49%;
}

.side-img {
  width: 100%;
  overflow: hidden;
}

.side-img img {
  object-fit: contain;
  /* width: 100%; */
}

.checkbox {
  display: flex;
  margin: auto;
}

.form-bottom {
  margin: 25px 0;
  width: 50%;
}

.form-top {
  margin-top: 30px;
}

.form-bottom label,
.form-bottom p {
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.link {
  color: blue;
}

.form-line {
  width: 40px;
  border: 0.5px solid #a2a6bb;
}

.checkbox input[type="checkbox"] {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 0;
}

input {
  height: 50px;
  padding: 10px 20px;
  background: #eef4fe;
  outline: none;
  border: 0;
  width: 100%;
  border-radius: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #72778f;
}

button {
  background: #4848ff;
  padding: 10px 20px;
  border: 0px;
  height: 50px;
  width: 49%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 20px;
}

footer {
  padding: 10px 20px;
  width: 100%;
  left: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 1000;
}

footer p {
  color: white;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .form-container {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }

  .side-img {
    height: 200px;
    overflow: hidden;
  }

  .header {
    position: fixed;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100%;
    height: 200px;
    align-items: center;
  }

  .header h1 {
    color: white;
    margin: auto;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
  }

  form h1 {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
  }

  .form-line {
    align-self: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  form p {
    font-size: 14px;
    text-align: center;
  }

  .form-top {
    margin-top: 40px;
    display: block;
    margin: auto;
  }

  .form-bottom {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  .form-bottom .form-item {
    width: 45%;
  }

  .checkbox input[type="checkbox"] {
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
  }

  .form-item {
    margin: auto;
    width: 80%;
  }

  button {
    display: block;
    width: 80%;
    align-self: center;
    margin: 20px auto !important;
    /* margin-top: 50px; */
  }

  .copywrite {
    display: block;
    margin: 0;
  }

  .copywrite p {
    display: none;
    width: 80%;
    color: #111b60;
    /* text-align: center; */
    margin: 0 0 0 40px;
    padding: 0;
  }
}
