
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Foreva Tired: Those Kids Next Door">
  <meta name="author" content="Samuel Adeyemi (deyemi.com)">
  <title>Telnet SuperApp</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets1/style.css">
  <link rel="stylesheet" href="assets1\bootstrap\css\bootstrap-grid.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link
    rel="stylesheet"
    href="https://bootswatch.com/4/journal/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<header class="header">
  <div class="logo">
    <h1>TELNET</h1>
  </div>
  <div class="info">
    <p>News user? <span class="blue"><a href="/login">Login</a></span></p>
  </div>
</header>
<!-- front-page-container -->

<body class="">
  <div class="row">
  <div class="col-sm-5 side-img">
    <img src="images/bg.jpg" alt="">
  </div>
  <div class="col-sm-7">
    <div class="form-container">
      <form class="" action="/register" method="post">
        <h1>Sign in to Telnet Super App</h1>
        <div class="form-line"></div>
        <p>Or sign in using your email address</p>
        <%- include('./partials/messages')%>
        <div class="form-group form-top">
          <div class="form-item">
            <label for="firstname">First Name</label>
            <input type="text" name="first_name" id="firstname" value="" placeholder="John" required>
          </div>
          <div class="form-item">
            <label for="lastname">Last name</label>
            <input type="text" name="last_name" id="lastname" value="" placeholder="Doe" required>
          </div>
        </div>
        <div class="form-group form-top">
          <div class="form-item">
            <label for="login-email">Your Email</label>
            <input type="email" name="email" id="email" value="" placeholder="example@email.com" required>
          </div>
          <div class="form-item">
            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone" required value="" placeholder="09099999999" value="<%= typeof name != 'undefined' ? name : '' %>" >
          </div>
        </div>

        <div class="form-group form-top">
          <div class="form-item">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="" placeholder="enter password" required>
          </div>
          <div class="form-item">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirmpassword" value="" placeholder="confirm password" required>
          </div>
        </div>

        <div class="form-group form-top">
          <div class="form-item">
            <label for="tittle">Title</label>
            <input type="text" name="title" id="tittle" value="" placeholder="e.g. Engineer" required>
          </div>

          <div class="form-item">
            <label for="subsidiary">Subsidiary</label>
            <select class="form-control" id="subsidiary" name= "subsidiary" onchange = "changeFun()">
              <option selected> --- </option>
              <% 
                subs.forEach((sub, i) => { 
              %>              
              <option value = <%= sub.id %> > <%= sub.name %>  </option>
              <% 
                }) 
              %>
            </select>
          </div>
        </div>

        <script>
          // this did not work because the google API was at the bottom
          $(document).ready(function(){
            $("#divdepartment").hide();
            $("#divupline").hide();
            $("#divrole").hide();
          });
      </script>

        <script>

          function changeFun_role(){
            //var subID = $('#subsidiary').val();

            $.get(`https://cors-anywhere.herokuapp.com/http://173.212.213.205:8090/api/v1/accounts/registration_roles`, function(data, status){
              console.log(data)
              console.log(status)
              if (status == "success") {
                console.log('data', data)
                var html = "<option selected> --- </option>"
                  for (var i = 0; i < data.length; i++) {
                    html+= "<option value = '"+data[i].id+"'> "+data[i].name+"  </option>" // for some reason this thing does not work when i made it with the select being added here, it could be that you didn't call it properly
                  }
                  // onchange = '"+changeFun2()+"'
                  
                  //display the thing
                  $("#role").html(html);
                  $("#divrole").show();
                
                } else {
                    alert("try again or contact the admin.")
                }
            });
          }

          function changeFun(){
            var subID = $('#subsidiary').val();

            $.get(`https://cors-anywhere.herokuapp.com/http://173.212.213.205:8090/api/v1/accounts/department/${subID}`, function(data, status){
              console.log(data)
              console.log(status)
              if (status == "success") {
                console.log('data', data)
                var html = "<option selected> --- </option>"
                  for (var i = 0; i < data.length; i++) {
                    html+= "<option value = '"+data[i].id+"'> "+data[i].name+"  </option>" // for some reason this thing does not work when i made it with the select being added here, it could be that you didn't call it properly
                  }
                  // onchange = '"+changeFun2()+"'
                  
                  //display the thing
                  $("#department").html(html);
                  $("#divdepartment").show();
                
                } else {
                    alert("try again or contact the admin.")
                }
            });
          }

          function changeFun2() {    
            var subID = $('#department').val();
            console.log('Hi');
            console.log($('#department').val())
            $.get(`https://cors-anywhere.herokuapp.com/http://173.212.213.205:8090/api/v1/accounts/uplines/${subID}`, function(data, status){
              console.log(data)
              console.log(status)
              if (status == "success") {
                var html = "<option selected> --- </option>"
                  for (var i = 0; i < data.length; i++) {
                    html+= "<option value = '"+data[i].id+"'> "+data[i].first_name+"  </option>"
                  }  
                  //display the thing
                  $("#upline").html(html);
                  $("#divupline").show();
                } else {
                    alert("try again or contact the admin.")
                }
            });  
          }
        </script>
        <div class="form-group form-top">
          <div class="form-item" id = "divdepartment">
            <label for='Department'>Department</label>
            <select class='form-control' id='department' name= 'department'onchange = 'changeFun2()'> 
            
            </select>

          </div>

          <div class="form-item" id = "divupline">
            <label for='Job-role'>Upline</label>
            <select class='form-control' id='upline' name= 'upline' onchange = 'changeFun_role()'>

            </select>

          </div>

        </div>

        <div class="form-group form-top">
          <div class="form-item" id = "divrole">
            <label for='Role'>Role</label>
            <select class='form-control' id='role' name= 'role'> 
            
            </select>

          </div>
        </div>

        <button type="submit" class="form-button">Sign up</button>
      </form>
    </div>
  </div>
  </div>


<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"
></script>
</body>

<footer>
  <div class="copywrite">
    <p>©Copyright 2020. Made by Softworks</p>
  </div>
</footer>
