<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
    <p class="text-muted text-center text-md-left">Copyright © 2021 <a href="https://telnetng.com/" target="_blank">TELNET</a>. All rights reserved</p>
    
    
</footer>